[submodule "submodules/inite"]
	path = submodules/inite
	url = git@github.com:aucoop/inite.git
[submodule "submodules/dns-hijack"]
	path = submodules/dns-hijack
	url = git@github.com:Bullanga/dns-hijack.git
[submodule "submodules/web_inite"]
	path = submodules/web_inite
	url = git@github.com:xXIty/web_inite.git
