{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Success</title>
	<meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-4.4.1-dist/css/bootstrap.min.css' %}">
		<script src="{% static 'bootstrap-4.4.1-dist/js/bootstrap.min.js' %}"> </script>
<!--===============================================================================================-->
  </head>
<body style="background-color: grey;">
	
  <div class="login100-more " style="background-image: url('../static/src/background.jpg'); overflow-y: auto;">
    <div class="tarja" style="margin-top: 20%;">  
    <div class="center">
      <div class="caixa" >
          <div class="titol">
            <strong>Succès</strong>
          </div>
          <div class="space">
            <p>Le mot de passe a été modifié correctement.</p>
          </div>
          <div class="center" style="padding-bottom: 20px">
            <button class="btn btn-success end" type="submit" onclick="window.location.href='/statistics'">Retour</button>
          </div>
      </div>
    </div>
    </div>
	</div>
	</div>
</body>
</html>
