{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login Portal</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'login/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}"> 

<!-- THE FOLLOWING COMMENTED REFERENCES MAY BE USED -->
<!--===============================================================================================-->
<!--	<link rel="stylesheet" type="text/css" href="{% static 'login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}"> -->
<!--===============================================================================================-->
<!--	<link rel="stylesheet" type="text/css" href="{% static 'login/fonts/iconic/css/material-design-iconic-font.min.css' %}"> -->
<!--===============================================================================================-->
<!--	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/animate/animate.css' %}"> -->
<!--===============================================================================================-->	
<!--	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/css-hamburgers/hamburgers.min.css' %}"> -->
<!--===============================================================================================-->
<!--	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/animsition/css/animsition.min.css' %}"> -->
<!--===============================================================================================-->
<!--	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/select2/select2.min.css' %}"> -->
<!--===============================================================================================-->	
<!--	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/daterangepicker/daterangepicker.css' %}"> -->
<!--===============================================================================================-->

	<link rel="stylesheet" type="text/css" href="{% static 'login/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body style="background-color: #403d3d;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="login100-more" style="background-image: url('../static/src/background.jpg');">
        <div class="box-texte">
          <h1> Dunia Kato Sénégal</h1>
          <br>
          <div class="texte">
            Nous sommes une èquipe qui partage un seul objectif dont: Etre capable de faire ce que nous aimons et aider les autres à le faire. Toujour sous la libertè et le respect de tous.
          </div>
        </div>
      </div>

			<div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
				<form class="login100-form validate-form" action"http://duniakato.dks/login" method="post"> {% csrf_token %}  
					<span class="login100-form-title p-b-59">
						Accéder au réseau:
					</span>

					<div class="wrap-input100 validate-input" data-validate="Name is required">
						<span class="label-input100">Nom</span>
						<input class="input100" type="text" name="fname" placeholder="Nom..." required>
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<span class="label-input100">Prénom</span>
						<input class="input100" type="text" name="lname" placeholder="Prénom..." required>
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" style="border-bottom: 0px;" data-validate="Username is required">
						<span class="label-input100">Sexe</span>
            <select style="margin-top:10px; font-family: Poppins-Regular; font-size: 20px; color: #555555;  height: 50px; display:block;"  id="sexe" name="sexe" required>
              <option value="femelle" style="font-family: Poppins-Regular; font-size: 20px; color: #555555 !important; ">Femelle</option>
              <option value="male" style="font-family: Poppins-Regular; font-size: 20px; color: #555555 !important; ">Mâle</option>
              <option value="autre" style="font-family: Poppins-Regular; font-size: 20px; color: #555555 !important; ">Autre</option>
            </select>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<span class="label-input100">Lieu de résidence</span>
						<input class="input100" type="text" name="lloc_r" placeholder="Lieu de résidence... " required>
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Repeat Password is required">
						<span class="label-input100">L'âge</span>
						<input class="input100" type="number" name="edat" min="4" max="90" placeholder="4" required>
						<span class="focus-input100"></span>
					</div>




					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<span class="label-input100">Email</span>
						<input class="input100" type="text" name="email" placeholder="L'adresse électronique... " >
						<span class="focus-input100"></span>
					</div>



					<div class="flex-m w-full p-b-33">
						<div class="contact100-form-checkbox">
							<input class="" id="ckb1" type="checkbox" name="policy" required>
								<span class="txt1">
									Je suis d'accord avec le
									<a href="/policy" class="txt2 hov1">
										Conditions d'utilisation
									</a>
								</span>
						</div>

						
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Envoyer
							</button>
						</div>
<a href="/statistics" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30    ">
     Admin
      <i class="fa fa-long-arrow-right m-l-5"></i>

						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	
<!--===============================================================================================-->

</body>
</html>
