{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Téléchargement des données</title>
	<meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-4.4.1-dist/css/bootstrap.min.css' %}">
		<script src="{% static 'bootstrap-4.4.1-dist/js/bootstrap.min.js' %}"> </script>
<!--===============================================================================================-->
  </head>
<body style="background-color: grey;">
	
  <div class="login100-more " style="background-image: url('../static/src/background.jpg');">
    <div class="center">
      <div class="caixa" style="margin-top: 10%">
      <form action="/retrieve" method="get" id="form1">
        <div class="titol">
          <strong> Formulaire de téléchargement de données Dunia Kato Sénégal</strong>
        </div>
        <div >
          <p>Les données après la date indiquées sont téléchargées.</p>
          </div>
        <div class="center" style="padding-bottom: 20px">
          <input style="float: left; margin-right: 5px;" type="date" name="date" required/>
          <button class="btn btn-success end" type="submit" form="form1" value="Submit">Téléchargez</button>
        </div>
      </form>
      </div>
      <div class="caixa" style="margin-top: 10%">
      <form action="/retrieve" method="get" id="form1">
        <div class="titol">
          <strong> Formulaire de téléchargement de données Dunia Kato Sénégal</strong>
        </div>
        <div >
          <p>Les données après la date indiquées sont téléchargées.</p>
          </div>
        <div class="center" style="padding-bottom: 20px">
          <input style="float: left; margin-right: 5px;" type="date" name="date" required/>
          <input style="float: left; margin-right: 5px;" type="date" name="date" required/>
          <input style="float: left; margin-right: 5px;" type="date" name="date" required/>
          <button class="btn btn-success end" type="submit" form="form1" value="Submit">Téléchargez</button>
        </div>
      </form>
      </div>
    </div>
	</div>

</body>
</html>
